/* body
{
     background: rgb(73,74,74);
    background: radial-gradient(circle, rgba(73,74,74,1) 0%, rgba(37,42,51,0.9) 100%); 
    #2f3339
    #252A33
} */
html
{
    z-index: -1;
}


#particles-js
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-45deg, #252A33, #474a52, #484d58, #252A33);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -100 !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p.separator {
    line-height:1em;
    border-bottom:1px solid green;
}
p.separator:before {
    content:"OUTPUT";
    position:relative;
    left:50%;
    margin-left:-2.5em;
    padding:0 0.3em;
    top:0.5em;
    background:#252A33;
    color: green;
}

.btn-color{
    color: #262A33 !important; 
}


.full_modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .full_modal-content {
    width: 100vw;
    height: auto;
    min-height: 100%;
    border-radius: 0;
    margin: 0 !important;
  }

  .border-3 {
    border-width:3px !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}




@media (max-width: 768px) {
    
    
    #headermodulo
    {
        height: 100%;
    }
    .btn-group {
        width:100%;
        
        /* text-align: center; */
    }
}

@media (min-width:768px)
{
    
    #headermodulo
    {
        height: 100vh !important;
    }
}